$base-margin: 1rem;
$base-padding: 1rem;

$font-family: "Roboto", sans-serif;
$font-family-headings: "Montserrat", sans-serif;
$font-size: 1rem;

$bg-color: #fff;

$max-width: 1400px;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

// Variables para el header
$header-height: 8vh;
$header-text-color: #444444;
$header-font-family: sans-serif;
$header-font-size: 1.2rem;
$header-link-hover-color: #ddd;

// varaibles para el cars
$color-background: white;
$color-text: #333;
$color-shadow-light: rgba(0, 0, 0, 0.1);
$color-shadow-dark: rgba(0, 0, 0, 0.2);
